{% extends "default.html.twig" %}

{% block title %}
    Guide des champignons - Les informations générales de mon profil
{% endblock %}

{% block meta %}
    <meta name="description" content="Espace membre - Le guide des champignons vous permets de définir les paramètre de votre profile.">
{% endblock %}

{% block og %}
    <meta property="og:title" content="Guide des champignons - Les informations générales de mon profil">
    <meta property="og:description" content="Le guide des champignons vous permets de définir les paramètre de votre profile.">
    <meta property="og:url" content="{{url}}/index.php?routing=mon-profil">
    <meta property="og:image" content="{{url}}/assets/icones/logo.png"/>
    <meta property="og:image:width" content="150" />
    <meta property="og:image:height" content="150" />
{% endblock %}

{% block body %}
<div class="background logger__bg--image"></div>
<div class="background bgColor-blackLight"></div>
<div class="container profil">
    <div class="row d-flex justify-content-center my-2">
        
        <div class="col-12 col-md-8 bg-greenLight text-white p-4 rounded-lg">
        <h1 class="text-center txtShadow text-light ftSize-medium d-none d-md-block">{{title}}</h1>
            <div class="form-group">
				<h4 class="text-info">{{messageError}}</h4>
			</div>
            <form action="index.php?routing=editer-mon-profil" method="POST" class="border p-2 rounded-lg">
                <div class="form-group row">
                    <label for="inputDate" class="col-sm-3 col-form-label">Inscription</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext text-info" id="inputDate"
                            value="{{profil.dateuser}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputStatus" class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext text-info" id="inputStatus"
                            value="{{profil.roleuser}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPseudo" class="col-sm-3 col-form-label">Pseudo</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPseudo" name="pseudo"
                            value="{{profil.pseudouser}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLastName" class="col-sm-3 col-form-label">Nom</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputLastName" name="lastname"
                            value="{{profil.nomuser}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputFirstName" class="col-sm-3 col-form-label">Prénom</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputFirstName" name="firstname"
                            value="{{profil.prenomuser}}">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-light my-3">Enregistrer</button>
            </form>
        
            <div class="mt-3 border rounded-lg p-3">
                <p>
                    <a class="btn btn-outline-light" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Changer de mot de passe
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <form action="index.php?routing=editer-mon-mot-de-passe" method="POST" class=" p-2 rounded-lg">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Mot de passe actuel</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputPassword" name="oldPassword">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNewPassword" class="col-sm-4 col-form-label">Nouveau mot de
                                passe</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputNewPassword" name="newPassword">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputConfirmerNewPassword" class="col-sm-4 col-form-label">Confirmer votre nouveau mot de
                                passe</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="inputConfirmerNewPassword" name="confirmNewpassword">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-light">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}