{% extends "default.html.twig" %}

{% block title %}
	Guide des champignons - apprendre à reconnaitre les champignons comestibles
{% endblock %}

{% block meta %}
    <meta name="description" content="Liste évolutive de champignons, photos de champignons, caractéristiques."/>
{% endblock %}

{% block og %}
    <meta property="og:title" content="guide des champignons - apprendre à reconnaitre les champignons comestibles"/>
    <meta property="og:description" content="Liste évolutive de champignons, photos de champignons, caractéristiques."/>
    <meta property="og:url" content="{{url}}/index.php?routing=guide-des-champignons"/>
{% endblock %}

{% block twitter %}
    <meta name="twitter:title" content="guide des champignons - apprendre à reconnaitre les champignons comestibles"/>
    <meta name="twitter:description" content="Liste évolutive de champignons, photos de champignons, caractéristiques."/>
{% endblock %}

{% block body %}
<div class="background book__bg--image"></div>
<div class="background bgColor--blackLight"></div>
<article class="container-fluid book">
    <div class="row">
        <section class="col-12 d-flex flex-row flex-wrap justify-content-center align-items-center">
            {% for fiche in listeFiches %}
                <div class="book__card box-shadow-down">
                    <a href="index.php?routing=description&amp;idchamp={{ fiche.idchamp }}">
                        <div class="book__card__eat d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <img class="book__card__eat__img" src="{{getImage(fiche.consochamp)}}" alt="?">
                                <p class="text-white">{{fiche.consochamp}}</p>
                            </div>
                        </div>
                        <div class="book__card__bloc-img">
                            <div class="book__card__bloc-img__opacity"></div>
                            {% if fiche.pathimg is not null %}
                                <img class="book__card__bloc-img__image" src="/assets/images/photo-fullscreen/{{fiche.idchamp}}/minSize/{{fiche.pathimg}}" alt="{{fiche.communchamp}}">
                            {% else %}
                                <img class="book__card__bloc-img__image" src="/assets/images/photo-fullscreen/default.png" alt="{{fiche.communchamp}}">
                            {% endif %}
                        </div>
                        <div class="book__card__titre d-flex flex-row justify-content-center align-items-center">
                            <h5 class="text-greenDark txtShadow--white text-center">{{fiche.communchamp}}</h5>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </section>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center p-3">
           <nav aria-label="Page navigation example">
                <ul class="pagination book__pagination">
                    <li class="page-item {% if pagination == 1 %} active {% endif %}">
                        {% if pagination == 1 %} 
                            <span class="page-link">Tous
                                <span class="sr-only">(current)</span>
                            </span>
                        {% else %}
                            <a href="index.php?routing=guide-des-champignons&amp;allFiches" class="page-link border bg-greenDark text-white">Tous</a>
                        {% endif %}
                    </li>
                    {% for i in 1..pagination %}
                        {% if i == currentPage %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{i}}
                                <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="index.php?routing=guide-des-champignons&amp;pageIndex={{ i }}" class="page-link bg-greenDark text-white">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</article>
{% endblock %}
